body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    margin-top: 8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, white , blue); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

a.button1{
    display: block;
    justify-content: center;
    padding:0.35em 1.2em;
    margin: 2em auto 2em auto;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    width: 10em;
    box-sizing: border-box;
    text-decoration:none;
    font: 900 1em 'Raleway', sans-serif;
    letter-spacing: 0.01em;
    background-color: rgb(167, 166, 166);
    color:rgba(0,0,0,.5);
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#000000;
}
@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto;
    }
} 